.fabric {
  background-image: url("https://images.unsplash.com/photo-1603251579431-8041402bdeda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-position-x: -110px;
  background-position-y: top;
  background-size: 68vh;
  height: 100vh;
  font-family: "Roboto";
}
img {
  border-radius: 10%;
  height: 140px;
}

.container {
  display: flex;
  justify-content: left;
}

.InstaCard {
  list-style: none;
  width: 190px;
  height: 200px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  background: white;
  border-radius: 35px;
  padding-inline-start: 1%;
  padding-inline-end: 1%;
  padding-top: 1%;
  margin-left: 10px;
  text-align: left;
  font-family: "Roboto";
  top: 70vh;
  color: black;
  cursor: pointer;
}

.InstaCardOther {
  list-style: none;
  width: 180px;
  height: 200px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  background: white;
  border-radius: 35px;
  padding-inline-start: 1%;
  padding-inline-end: 1%;
  padding-top: 1%;
  margin-left: 10px;
  text-align: left;
  font-family: "Roboto";
  top: 70vh;
  color: black;
  cursor: pointer;
}
.measurementCard {
  width: 150px;
  height: 200px;
  margin-left: -15px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: "Roboto";
}

/* .likebtn {
  position: sticky;
  z-index: 0;
  margin-left: -30px;
  margin-top: -20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  /* background: #ffffff6e; */
/* display: flex;
  align-items: center;
  justify-content: center;
}
.CartAdd {
  width: 102px;
  height: 30px;
  background: linear-gradient(0deg, #f8ba2b, #f8ba2b), #26c41b;
  border-radius: 35px;
} */
