.home {
  background-image: url("https://images.unsplash.com/photo-1603251579431-8041402bdeda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-position-x: -110px;
  background-position-y: top;
  background-size: 68vh;
  height: 100vh;
  color: white;
}

.logo-container {
  text-align: center;
  position: relative;
  top: 70vh;
}

.brand {
  font-size: 10vw;
}

button {
  font-size: 8vw;
}
