.howItWorksMainDiv {
  background-image: url("https://images.unsplash.com/photo-1603251579431-8041402bdeda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-position-x: -110px;
  background-position-y: top;
  background-size: 68vh;
  height: 95vh;
  color: white;
  position: relative;
  width: 100%;
  left: 0px;
}

.adjustVerticalPosition {
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: left;
  width: 80%;
  align-items: center;
  align-content: center;
  justify-self: center;
  justify-items: center;
  border-radius: 10px;
}

.howItWorksTitle {
  font-size: 10vw;
}

.howItWorksLabel {
  font-size: 3.5vw;
  font-weight: 700;
}

.howItWorksDescription {
  font-size: 3vw;
}

.howItWorksImg {
  height: 10vh;
  width: 18vw;
}

.images {
  text-align: right;
}
